<app-header
[isSideNavOpen]="isSideNavOpen$ | async"
(changeSideNavState)="changeSideNavState($event)"
[todoForm]="todoForm"
(addTask)="addTask($event)"
[isMobile]="isMobile$ | async"></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mode" [opened]="isSideNavOpen$ | async">
    <ul>
      <li [routerLink]="['/']">Uncompleted Tasks</li>
      <li [routerLink]="['/completed-tasks']">Completed Tasks</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div id="footer"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
