/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html {
  margin: 0;
  padding: 0 0px;
  font-family: sans-serif;
  /* background: rgb(134,230,210); */
}

ul {
 list-style: none;
}

*:focus {
  outline: none;
}
