<h1 mat-dialog-title>Add a task</h1>
<mat-dialog-content id="content">
  <form [formGroup]="todoFormGroup">
    <mat-form-field class="task-input">
      <input matInput placeholder="title" formControlName="title">
    </mat-form-field>
    <br>
    <mat-form-field class="task-input">
      <textarea matInput placeholder="detail" formControlName="description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="task-input">
      <input matInput [matDatepicker]="picker" placeholder="deadline" formControlName="deadline">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onSubmit();" [disabled]="!todoFormGroup.valid">add</button>
  <button mat-raised-button mat-dialog-close="">cancel</button>
</mat-dialog-actions>
