mat-toolbar {
  background: #545b66;
  height: 80px;
}

#menu {
  color: white;
}

#header-title {
  color: white;
  font-size: 36px;
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-right: 60px;
  font-size: 30px;
  cursor: pointer;
}
